
/* Button */

.bx-imopenlines-config-button {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 3000;
}

.bx-imopenlines-config-button-item {
	width: 74px;
	height: 74px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: url(./images/sprite.svg?1) -3px -3px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.bx-imopenlines-config-button-item:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
				0 10px 10px rgba(0,0,0,0.22);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Sidebar */

.bx-imopenlines-config-sidebar {
	position: fixed;
	left: -3850px;
	height: 100%;
	width: 369px;
	min-height: 484px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
	background: #fff;
	overflow: hidden;
	-webkit-transition: right .5s ease;
	-moz-transition: right .5s ease;
	transition: right .5s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 10101;
	opacity: 0;
}

.bx-imopenlines-config-sidebar-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bx-imopenlines-sidebar-inline {
	position: relative;
	height: auto;
	min-height: 610px;
	left: auto;
	right: auto;
	width: 100%;
	opacity: 1;
}

.bx-imopenlines-config-sidebar.bx-imopenlines-config-sidebar-open {
	left: auto;
	right: 0;
	opacity: 1;
	top: 0;
}

/* Sidebar header */

.bx-imopenlines-config-sidebar-header {
	position: absolute;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 20px;
	height: 65px;
	width: 100%;
	border-bottom: 1px solid #e6e6e7;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.03);
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 4;
}

.bx-imopenlines-config-sidebar-back,
.bx-imopenlines-config-sidebar-message,
.bx-imopenlines-config-sidebar-rollup,
.bx-imopenlines-config-sidebar-close {
	display: inline-block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.bx-imopenlines-config-sidebar-back-item,
.bx-imopenlines-config-sidebar-rollup-item,
.bx-imopenlines-config-sidebar-close-item {
	display: inline-block;
	background: url(./images/sprite.svg?2);
	cursor: pointer;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	opacity: .5;
}

.bx-imopenlines-config-sidebar-back-item {
	width: 19px;
	height: 14px;
	background-position: -16px -170px;
	vertical-align: middle;
}

.bx-imopenlines-config-sidebar-rollup-item {
	width: 19px;
	height: 19px;
	background-position: -67px -171px;
}

.bx-imopenlines-config-sidebar-close-item {
	width: 17px;
	height: 15px;
	background-position: -45px -170px;
	vertical-align: middle;
}

.bx-imopenlines-config-sidebar-back-item:hover,
.bx-imopenlines-config-sidebar-rollup-item:hover,
.bx-imopenlines-config-sidebar-close-item:hover {
	opacity: 1;
}

.bx-imopenlines-config-sidebar-message {
	-webkit-box-flex: 16;
	-ms-flex: 16;
	flex: 16;
	text-align: center;
}

.bx-imopenlines-config-sidebar-message-item {
	display: inline-block;
	max-width: 310px;
	font: bold 16px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #424956;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 2px;
}

.bx-imopenlines-config-sidebar-rollup {
	display: none;
	margin: 0 6px 0 0;
}

/* Info block */

.bx-imopenlines-config-sidebar-info {
	position: absolute;
	top: 60px;
	width: 100%;
	height: -webkit-calc(100% - 134px);
	height: calc(100% - 134px);
	background: #fff;
	-webkit-transition: opacity .6s ease;
	-moz-transition: opacity .6s ease;
	transition: opacity .6s ease;
	opacity: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.bx-imopenlines-config-sidebar-info-inner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	margin: auto;
	height: 482px;
	max-height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.bx-imopenlines-config-sidebar-info-block-container {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 82px 39px;
	width: 289px;
	height: 289px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(117,221,254, .7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 3;
}

.bx-imopenlines-config-sidebar-info-block-container:before {
	content: "";
	position: absolute;
	top: 9px;
	left: 9px;
	width: 271px;
	height: 271px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #daff46;
	z-index: -1;
}

.bx-imopenlines-config-sidebar-info-block-container:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 285px;
	height: 285px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	z-index: -2;
}

.bx-imopenlines-config-sidebar-info-title-item {
	font: bold 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #424956;
	text-align: center;
	text-transform: initial;
}

.bx-imopenlines-config-sidebar-info-title {
	margin: auto;
}

.bx-imopenlines-config-sidebar-info-block-container-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	max-height: 0;
	-webkit-transition: opacity .5s ease, max-height .5s ease;
	-moz-transition: opacity .5s ease, max-height .5s ease;
	transition: opacity .5s ease, max-height .5s ease;
	opacity: 0;
	overflow: hidden;
}

.bx-imopenlines-config-sidebar-info-block-container.bx-imopenlines-config-sidebar-visible-block .bx-imopenlines-config-sidebar-info-block-container-inner {
	max-height: 300px;
	-webkit-transition: opacity .8s ease, max-height .8s ease;
	-moz-transition: opacity .8s ease, max-height .8s ease;
	transition: opacity .8s ease, max-height .8s ease;
	opacity: 1;
}

.bx-imopenlines-config-sidebar-info-block {
	width: 50px;
	display: inline-block;
	margin: auto;
}

.bx-imopenlines-config-sidebar-info-block-image {
	display: inline-block;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: url(./images/sprite.svg?1) no-repeat  0 -193px;
	/*background-size: cover;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.bx-imopenlines-config-sidebar-info-block-name {
	display: inline-block;
	width: 60px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #424956;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left: -5px;
}

.bx-imopenlines-config-cloud-top {
	position: absolute;
	top: 10px;
	right:25px;
	width: 60px;
	height: 38px;
	background: url(./images/sprite.png?1) 0 0;
}

/* Socials */

.bx-imopenlines-config-sidebar-social {
	position: relative;
	top: 3%; /* temporary */
	margin: 0 auto;
	width: 70%;
	text-align: center;
}

.bx-imopenlines-config-sidebar-cloud-middle,
.bx-imopenlines-config-sidebar-cloud-bottom,
.bx-imopenlines-config-sidebar-circle {
	position: absolute;
	width: 87px;
	height: 51px;
	background: url(./images/sprite.png?1);
}

.bx-imopenlines-config-sidebar-cloud-middle {
	top: -55px;
	left: -25px;
	background-position: 1px -38px;
}

.bx-imopenlines-config-sidebar-cloud-bottom {
	top: -67px;
	right: -60px;
	width: 106px;
	height: 67px;
	background-position: 0 -90px;
}

.bx-imopenlines-config-sidebar-circle {
	top: -50px;
	left: -172px;
	width: 175px;
	height: 175px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(203,251,249, .8);
}

.bx-imopenlines-config-sidebar-social-title-item {
	font: bold 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #424956;
	text-align:center;
	margin-bottom: 16px;
	text-transform: initial;
}

.bx-imopenlines-config-sidebar-social-item {
	display: inline-block;
	width: 45px;
	height: 44px;
	background: url(./images/sprite.svg?1) -2px -2px no-repeat;
	background-size: 65px;
	cursor: pointer;
}

.bx-imopenlines-config-sidebar-social-item:last-child {
	margin: 0;
}

.bx-imopenlines-config-sidebar-social-container {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: max-height .5s ease, opacity .5s ease;
	-moz-transition: max-height .5s ease, opacity .5s ease;
	transition: max-height .5s ease, opacity .5s ease;
}

.bx-imopenlines-config-sidebar-social.bx-imopenlines-config-sidebar-visible-socials .bx-imopenlines-config-sidebar-social-container {
	max-height: 800px;
	opacity: 1;
	-webkit-transition: max-height .8s ease, opacity .8s ease;
	-moz-transition: max-height .8s ease, opacity .8s ease;
	transition: max-height .8s ease, opacity .8s ease;
}

.bx-imopenlines-config-sidebar-social-description {
	text-align: center;
}

.bx-imopenlines-config-sidebar-social-description-item {
	display: inline-block;
	margin: 16px 0 0 0;
	line-height: 17px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #80868e;
}

.bx-imopenlines-config-sidebar-social-icon-facebook {
	background-position: 1px -80px;
	background-size: auto;
}

.bx-imopenlines-config-sidebar-social-icon-facebookcomments {
	background-position: 1px -80px;
	background-size: auto;
}

.bx-imopenlines-config-sidebar-social-icon-vk {
	background-position: -44px -80px;
	background-size: auto;
}

.bx-imopenlines-config-sidebar-social-icon-viber{
	background-position: -54px -198px;
	background-size: auto;
}

.bx-imopenlines-config-sidebar-social-icon-telegram {
	background-position: 1px -124px;
	background-size: auto;
}

.bx-imopenlines-config-sidebar-social-icon-botframework_skype {
	background-position: -44px -124px;
	background-size: auto;
}

.bx-imopenlines-config-sidebar-social-icon-botframework_slack{

}

.bx-imopenlines-config-sidebar-social-icon-botframework_kik{

}

.bx-imopenlines-config-sidebar-social-icon-botframework_groupme{

}

.bx-imopenlines-config-sidebar-social-icon-botframework_twilio{

}

.bx-imopenlines-config-sidebar-social-icon-botframework_webchat{

}

.bx-imopenlines-config-sidebar-social-icon-botframework_emailoffice365{

}

.bx-imopenlines-config-sidebar-social-icon-botframework_telegram{
	background-position: 1px -124px;
	background-size: auto;
}

.bx-imopenlines-config-sidebar-social-icon-botframework_facebookmessenger{
	background-position: 1px -80px;
	background-size: auto;
}

/* Iframe */

.bx-imopenlines-config-sidebar-iframe-container {
	/*position: relative;*/
	/*height: -webkit-calc(100% - 60px);*/
	/*height: calc(100% - 60px);*/
	height: 100%;
	/*overflow: auto;*/
	-webkit-overflow-scrolling: touch;
}

/* Chat */

.bx-imopenlines-config-sidebar-chat-container {
	position: absolute;
	bottom: 15px;
	width: 100%;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 4;
	overflow: hidden;
}

.bx-imopenlines-config-sidebar-chat { }

.bx-imopenlines-config-sidebar-chat-border {
	height: 3px;
	background: #2fc7f7; /* Old browsers */
	background: -moz-linear-gradient(left,  #2fc7f7 0%, #35e8f6 50%, #7ce3a7 74%, #bcf664 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #2fc7f7 0%,#35e8f6 50%,#7ce3a7 74%,#bcf664 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #2fc7f7 0%,#35e8f6 50%,#7ce3a7 74%,#bcf664 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bx-imopenlines-config-sidebar-chat-input {
	position: relative;
}

.bx-imopenlines-config-sidebar-chat-input-item {
	padding: 13px 75px 13px 13px;
	width: 100%;
	width: -webkit-calc(100% - 90px);
	width: calc(100% - 90px);
	border: 1px solid #c9cdd2;
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.35);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 15px "Helvetica Neue", Arial, Helvetica, sans-serif;
	-webkit-transition: border .4s ease;
	-moz-transition: border .4s ease;
	transition: border .4s ease;
	outline: none;
}

.bx-imopenlines-config-sidebar-chat-input-item:focus {
	border: 1px solid #79DDFC;
	box-shadow: inset 0 2px 1px rgba(0,0,0,.06);
}

.bx-imopenlines-config-sidebar-chat-input-item::-webkit-input-placeholder {color: #80868e;}
.bx-imopenlines-config-sidebar-chat-input-item::-moz-placeholder          {color: #80868e;}/* Firefox 19+ */
.bx-imopenlines-config-sidebar-chat-input-item:-moz-placeholder           {color: #80868e;}/* Firefox 18- */
.bx-imopenlines-config-sidebar-chat-input-item:-ms-input-placeholder      {color: #80868e;}

.bx-imopenlines-config-sidebar-chat-file,
.bx-imopenlines-config-sidebar-chat-smile,
.bx-imopenlines-config-sidebar-chat-enter {
	position: absolute;
	display: inline-block;
	width: 17px;
	height: 22px;
	background: url(./images/sprite.png?1) 19px 388px no-repeat;
	-webkit-transition: filter .3s ease;
	-moz-transition: filter .3s ease;
	transition: filter .3s ease;
	cursor: pointer;
}

/* Logo */

.bx-imopenlines-config-sidebar-logo {
    text-align: center;
    z-index: 1000;
	position: absolute;
    margin-left: 123px;
	margin-top: -24px;
}

.bx-imopenlines-config-sidebar-logo-text {
	display: inline-block;
	font: 12px/17px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #b2b6bd;
	vertical-align: top;
}

.bx-imopenlines-config-sidebar-logo-image {
	display: inline-block;
	width: 87px;
	height: 16px;
	background: url(./images/logoen.png?1) -3px -3px;
	background-size: cover;
	cursor: pointer;
}
.bx-imopenlines-config-sidebar-logo-image-ru { background-image: url(./images/logoru.png?1) }
.bx-imopenlines-config-sidebar-logo-image-ua { background-image: url(./images/logoua.png?1) }

/* Chat field */
.bx-imopenlines-config-sidebar-chat-field {
	position: absolute;
	bottom: -30px;
	padding: 0 0 0 15px;
	width: 100%;
	max-height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: bottom .5s ease;
	-moz-transition: bottom .5s ease;
	transition: bottom .5s ease;
	overflow-y: auto;
}

.bx-imopenlines-config-sidebar-chat-field-inner {
	margin: 5px 0 20px 0;
}

.bx-imopenlines-config-sidebar-chat-field-text {
	position: relative;
	display: inline-block;
	padding: 16px;
	margin: 0 0 16px 0;
	max-width: 230px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #f3f5f7;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #000;
}

.bx-imopenlines-config-sidebar-chat-field-text:after {
	content: "";
	position: absolute;
	top: 23px;
	right: -7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent #f3f5f7;
}

.bx-imopenlines-config-sidebar-chat-field-image {
	display: inline-block;
	margin: 0 0 0 20px;
	width: 50px;
	height: 50px;
	vertical-align: top;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-size: cover;
}

.bx-imopenlines-config-sidebar-chat-field-description {
	margin: 0 0 0 5px;
	font: 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #aeb3b3;
}

.bx-imopenlines-config-sidebar-chat-field-description:before {
	content: "";
	display: inline-block;
	margin: 0 5px 0 0;
	width: 10px;
	height: 6px;
	background: url(./images/sprite.svg?1) -35px -179px;
}

.bx-imopenlines-sidebar-inline .bx-imopenlines-config-sidebar-close-item { display: none; }
.bx-imopenlines-sidebar-inline .bx-imopenlines-config-sidebar-close { display: none; }

.bx-imopenlines-messenger-textarea-place {
	margin: 0 15px;
	position: relative;
	z-index: 1001;
}
.bx-imopenlines-messenger-textarea {
	padding: 8px 47px 21px 1px; font-size: 0; transition: all 0.5s ease 0s;
	margin-top: -10px;
	position: relative;
	z-index: 0;
}
.bx-imopenlines-messenger-textarea-input {
	outline: none; width: 100%;  height: 30px; min-height: 30px; border-radius: 3px;  border: 0; resize: none; background-color: transparent; font: 13px/14px "Helvetica Neue",Helvetica,Arial,sans-serif; padding: 0; margin: 0; color: #a5a9af;
	position: relative;
	z-index: 2;
}
.bx-imopenlines-messenger-textarea-focus { border-color: #c4c6c6; }
.bx-imopenlines-messenger-textarea-focus .bx-imopenlines-messenger-textarea-input { color: #000; }
.bx-imopenlines-messenger-textarea-resize { height: 10px; background: transparent;  position: relative;  z-index: 100; }

.bx-imopenlines-messenger-textarea-send {float: right; margin-top: 9px; height: 27px; margin-right: -5px;
	position: absolute;
	right: 0;
	z-index: 2;
}
.bx-imopenlines-messenger-textarea-send:hover .bx-imopenlines-messenger-textarea-cntr-enter { opacity: 1; }
.bx-imopenlines-messenger-textarea-send-button { display: block; height: 33px; width: 33px; background: url(./images/sprite.png?1) 9px -386px no-repeat scroll; vertical-align: top; text-decoration: none; cursor: pointer;  border-radius: 50%;  border: 1px solid #ccc;  opacity: 0.70;  transition: opacity 0.3s;  }
.bx-imopenlines-messenger-textarea-send-button:hover { border-color: #53a2fb; opacity: 1; }
.bx-imopenlines-messenger-textarea-with-text .bx-imopenlines-messenger-textarea-send-button { border-color: #0cafe2; opacity: 1; }
.bx-imopenlines-messenger-textarea-cntr-enter { cursor: pointer; display: block; height: 20px; width: 45px; font: 10px/15px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #ccc; vertical-align: top; text-align: center;  margin-left: -4px; opacity: .8; transition: opacity .4s;  }
.bx-imopenlines-messenger-textarea-cntr-enter:hover {color: #acabab}
.bx-imopenlines-messenger-textarea-clear { display: none; clear: both; font-size: 1px; line-height: 1px; height: 13px;}

.bx-imopenlines-messenger-textarea-smile {  background: url(./images/sprite.png?1) -60px -384px no-repeat scroll;  bottom: 0;  cursor: pointer;  height: 33px;  margin-left: 25px;  margin-top: 10px;  position: absolute;  transition: opacity 0.3s ease-in 0s;  width: 27px;  z-index: 2; }
.bx-imopenlines-messenger-textarea-file {background: url(./images/sprite.png?1) no-repeat scroll -26px -385px;cursor: pointer;height: 33px;margin-left: -8px;margin-top: 10px;position: absolute;transition: opacity 0.3s ease-in 0s;width: 27px;  bottom: 0;  z-index: 2;  }
.bx-imopenlines-messenger-textarea:before {content: "";  height: 3px;  width: 110%;  background: rgba(0, 0, 0, 0) linear-gradient(to right, #2fc7f7 0%, #35e8f6 50%, #7ce3a7 74%, #bcf664 100%) repeat scroll 0 0;  position: absolute;  margin-left: -20px;  margin-top: -8px;  }


.bx-imopenlines-config-button.bx-imopenlines-config-sidebar-open-immediately {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.bx-imopenlines-config-sidebar.bx-imopenlines-config-sidebar-open-immediately {
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.bx-imopenlines-config-sidebar.bx-imopenlines-config-sidebar-open-immediately-2 .bx-imopenlines-config-sidebar-info{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	height: calc(1px - 1px);
	overflow: hidden;
}
.bx-imopenlines-config-sidebar.bx-imopenlines-config-sidebar-open-immediately .bx-imopenlines-config-sidebar-info-block-container-inner{
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.bx-imopenlines-config-sidebar.bx-imopenlines-config-sidebar-loaded .bx-imopenlines-config-sidebar-chat-field {
	bottom: 104px;
}

.bx-imopenlines-config-sidebar.bx-imopenlines-config-sidebar-loaded .bx-imopenlines-config-sidebar-chat,
.bx-imopenlines-config-sidebar.bx-imopenlines-config-sidebar-loaded .bx-imopenlines-config-sidebar-chat-border {
	height: calc(1px - 1px);
	overflow: hidden;
}

.bx-imopenlines-config-sidebar-inner.bx-imopenlines-config-enter-message .bx-imopenlines-config-sidebar-info {
	top: -700px;
	-webkit-transition: top .5s .5s ease, opacity .6s ease;
	-moz-transition: top .5s .5s ease, opacity .6s ease;
	transition: top .5s .5s ease, opacity .6s ease;
	opacity: 0;
}

.bx-imopenlines-config-sidebar-inner.bx-imopenlines-config-enter-message .bx-imopenlines-config-sidebar-chat-field {
	bottom: 104px;
}

.bx-imopenlines-config-sidebar-inner.bx-imopenlines-config-enter-message .bx-imopenlines-config-sidebar-chat,
.bx-imopenlines-config-sidebar-inner.bx-imopenlines-config-enter-message .bx-imopenlines-config-sidebar-chat-border {
	display: none;
}

.bx-imopenlines-static-page .bx-imopenlines-config-sidebar {position: absolute; width: 340px; height: 484px; }
.bx-imopenlines-static-page .bx-imopenlines-config-sidebar-iframe-container iframe { width: 340px!important;  }
.bx-imopenlines-static-adaptive .bx-imopenlines-config-sidebar-info-block-image { background-position: -6px -200px; }

/* Special */

.bx-imopenlines-config-sidebar-back { display: none;  }
.bx-imopenlines-config-has-message .bx-imopenlines-config-sidebar-back { display: inline-block; }
.bx-imopenlines-config-has-message .bx-imopenlines-config-sidebar-close { display: inline-block; }
.bx-imopenlines-config-sidebar-open .bx-imopenlines-config-button-item { display: none; }
/*.bx-imopenlines-config-sidebar-mobile.bx-imopenlines-config-sidebar-open {*/
	/*position: absolute;*/
	/*right: 20px;*/
	/*opacity: 1;*/
/*}*/
.bx-imopenlines-config-sidebar-mobile {
	-webkit-transition: opacity .5s ease;
	-moz-transition: opacity .5s ease;
	transition: opacity .5s ease;
	opacity: 0;
}

/* Mobile and Widget presset for IOS */

html.bx-imopenlines-config-mobile,
body.bx-imopenlines-config-mobile {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/* End of Mobile and Widget presset for IOS */

@media (min-width: 320px) and (max-width: 420px) {
	.bx-imopenlines-config-sidebar-mobile.bx-imopenlines-config-sidebar-open {
		width: 100%;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-iframe-container iframe {
		width: 100vw!important;
		height: -webkit-calc(100vh - 70px)!important;
		height: calc(100vh - 70px)!important;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-logo { margin-left: 97px;}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-info {
		height: -webkit-calc(100vh - 204px);
		height: calc(100vh - 204px);
		-webkit-overflow-scrolling: touch;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-info-block-container {
		padding: 0;
		width: 100%;
		max-height: 112px;
		border-radius: 0;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-info-block-container:before {
		top: 0;
		left: 0;
		width: 100%;
		max-height: 110px;
		border-radius: 0;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-info-block-container:after {
		top: 0;
		left: 0;
		width: 100%;
		max-height: 110px;
		border-radius: 0;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-info-block-container {
		top: 0;
		height: 120px;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-info-title-item,
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-social-title {
		font: bold 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-info-block-image {
		width: 38px;
		height: 38px;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-info-block-name {
		width: 50px;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-cloud-top,
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-cloud-middle,
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-cloud-bottom {
		display: none;
	}
	.bx-imopenlines-config-sidebar-mobile .bx-imopenlines-config-sidebar-social {
		padding: 0 5px;
		width: 100%;
	}
}