
.tm-popup-tasks {
    margin: 0 0 15px;
}
.tm-popup-task-list {
    margin: 9px 0 4px;
    max-height: 108px;
    overflow-y: auto;
    padding: 0 0 0 28px;
    position: relative;
}
.tm-popup-task {
    color: #696969;
    font: 12px/17px Arial,Helvetica,sans-serif;
    margin: 0 0 7px;
    padding: 0 15px 0 0;
}

.tm-popup-task-name { color: #000; /*border-bottom:1px dashed #156cb6;*/ text-decoration: none; cursor: pointer;  }

.tm-popup-task-time, .tm-popup-task-time-admin {margin-left: 5px; font-size: 11px; color: #696969; text-decoration: none; }
.tm-popup-task-time {cursor: pointer;}

.tm-popup-task-icon { display: none; vertical-align: baseline;}

.tm-popup-task-status-in-progress .tm-popup-task-name { color: #000;  }
.tm-popup-task-status-in-progress .tm-popup-task-icon { display:inline-block; width:10px; height:8px; font-size:1px; background: url(../images/play-flash.gif) no-repeat 0 0; }
.tm-popup-task-status-accepted .tm-popup-task-name { color: #000; }
.tm-popup-task-status-completed .tm-popup-task-name { color: #969696;  text-decoration: line-through;}
.tm-popup-task-status-delayed .tm-popup-task-name { color: #969696; }
.tm-popup-task-status-new .tm-popup-task-name { color: #398c1b; }
.tm-popup-task-status-overdue .tm-popup-task-name { color: #cc2020; }
.tm-popup-task-status-waiting .tm-popup-task-name { color: #dd7d00; }
.tm-popup-task-status-declined .tm-popup-task-name { color: #dd7d00; text-decoration: line-through;}

.tm-popup-task-delete { position:absolute; width: 13px; height: 13px; margin:3px 0 0 4px; cursor:pointer; vertical-align:middle;  background:none;}
.tm-popup-task:hover .tm-popup-task-delete { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -283px;  }
.tm-popup-task:hover .tm-popup-task-delete:hover { background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px -283px; }
.tm-popup-task-name:hover { border-bottom:1px dashed #156cb6; color: #156cb6;}
.tm-popup-task-time:hover { border-bottom:1px dashed #696969;}

.tm-popup-task-form { margin: 8px 0 0 28px; }
.tm-popup-task-form-textbox { width:270px; color: #000; border: 1px solid #adadad; vertical-align: middle; font: normal normal normal 12px/normal Arial, Helvetica, sans-serif; }

.tm-popup-tasks-empty .tm-popup-task-form { margin-left: 6px; }
.tm-popup-tasks-empty .tm-popup-task-form-textbox { width: 292px; }

.tm-popup-tasks-empty .tm-popup-task-list {display: none;}
.tm-popup-events-empty .tm-popup-event-list {display: none;}


.tm-popup-task-form-submit, .tm-popup-event-form-submit {
	display:inline-block;
	width:17px;
	height: 17px;
	background: url(/bitrix/js/main/core/images/controls-sprite.png) -13px -304px;
	vertical-align: middle;
	margin: 0 0 0 6px;
	cursor: pointer;
}

.tm-popup-task-form-disabled .tm-popup-task-form-textbox { color: #adadad; }
.tm-popup-task-form-disabled .tm-popup-task-form-submit { cursor: default;  background: url(/bitrix/js/main/core/images/controls-sprite.png) -11px -68px; }


.tm-task-list {
	max-height: 116px;
	overflow: auto;
	padding: 8px 0 0 8px;
}

.tm-task-item {
	color: #555;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 15px;
	overflow: hidden;
	padding-top: 7px;
	position: relative;
}

.tm-task-checkbox {
	display: inline-block;
	margin: 1px 6px 0 0;
	padding:0;
	vertical-align: top;
}

.tm-task-num {
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
}

.tm-task-name {
	color: #0069c4;
    cursor: pointer;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
    text-decoration: none;
	text-overflow: ellipsis;
	max-width: 163px;
	white-space: nowrap;
}

.tm-task-no-timer.tm-task-name {
	max-width: 273px;
}

.tm-task-name:hover {
	color: #0069c4;
	text-decoration: underline;
}

.tm-task-item-done .tm-task-name {
	text-decoration: line-through;
}

.tm-task-time {
	display: inline-block;
	min-height: 11px;
	padding-left: 18px;
	position: relative;
	vertical-align: top;
}

.tm-task-time:before {
	background: url(/bitrix/js/tasks/css/images/task-sprite_6.png) no-repeat -22px -1143px;
	content: "";
	height: 11px;
	left: 4px;
	top: 2px;
	position: absolute;
	width: 11px;
}

.tm-task-item-menu {
	background: url(/bitrix/js/tasks/css/images/task-sprite_6.png) no-repeat 0 -1180px;
	cursor: pointer;
	display: none;
	height: 20px;
	right: 0;
	top: 6px;
	opacity: 0.7;
	position: absolute;
	width: 14px;
}

.tm-task-item:hover .tm-task-item-menu {
	display: block;
}

.tm-task-item-menu:hover {
	opacity: 1;
}



.tm-popup-task-time, .tm-popup-task-time-admin {
    color: rgb(105, 105, 105);
    font-size: 11px;
    margin-left: 5px;
    text-decoration: none;
}
.tm-popup-task-time {
    cursor: pointer;
}
.tm-popup-task-icon {
    display: none;
    vertical-align: baseline;
}
.tm-popup-task-status-in-progress .tm-popup-task-name {
    color: rgb(0, 0, 0);
}
.tm-popup-task-status-in-progress .tm-popup-task-icon {
    background: url("../images/play-flash.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 1px;
    height: 8px;
    width: 10px;
}
.tm-popup-task-status-accepted .tm-popup-task-name {
    color: rgb(0, 0, 0);
}
.tm-popup-task-status-completed .tm-popup-task-name {
    color: rgb(150, 150, 150);
    text-decoration: line-through;
}
.tm-popup-task-status-delayed .tm-popup-task-name {
    color: rgb(150, 150, 150);
}
.tm-popup-task-status-new .tm-popup-task-name {
    color: rgb(57, 140, 27);
}
.tm-popup-task-status-overdue .tm-popup-task-name {
    color: rgb(204, 32, 32);
}
.tm-popup-task-status-waiting .tm-popup-task-name {
    color: rgb(221, 125, 0);
}
.tm-popup-task-status-declined .tm-popup-task-name {
    color: rgb(221, 125, 0);
    text-decoration: line-through;
}
.tm-popup-task-delete {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 13px;
    margin: 3px 0 0 4px;
    position: absolute;
    vertical-align: middle;
    width: 13px;
}
.tm-popup-task:hover .tm-popup-task-delete {
    background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat scroll 0 -283px rgba(0, 0, 0, 0);
}
.tm-popup-task:hover .tm-popup-task-delete:hover {
    background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat scroll -17px -283px rgba(0, 0, 0, 0);
}

.tm-popup-task-time:hover {
    border-bottom: 1px dashed rgb(105, 105, 105);
}
.tm-popup-task-form {
    margin: 4px 0 0 28px;
}
.tm-popup-task-form-textbox {
    border: 1px solid rgb(173, 173, 173);
    color: rgb(0, 0, 0);
    font: 12px Arial,Helvetica,sans-serif;
    vertical-align: middle;
    width: 270px;
}
.tm-popup-tasks-empty .tm-popup-task-form {
    margin-left: 6px;
}
.tm-popup-tasks-empty .tm-popup-task-form-textbox {
    width: 292px;
}
.tm-popup-tasks-empty .tm-popup-task-list {
    display: none;
}
.tm-popup-events-empty .tm-popup-event-list {
    display: none;
}
.tm-popup-task-form-submit, .tm-popup-event-form-submit {
    background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat scroll -13px -304px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 17px;
    margin: 0 0 0 6px;
    vertical-align: middle;
    width: 17px;
}
.tm-popup-task-form-disabled .tm-popup-task-form-textbox {
    color: rgb(173, 173, 173);
}
.tm-popup-task-form-disabled .tm-popup-task-form-submit {
    background: url("/bitrix/js/main/core/images/controls-sprite.png") repeat scroll -11px -68px rgba(0, 0, 0, 0);
    cursor: default;
}